[project]
name = "supermarkets"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "bs4>=0.0.2",
    "pymupdf>=1.26.6",
    "requests>=2.32.5",
]

[dependency-groups]
dev = [
    "isort>=7.0.0",
    "ruff>=0.14.3",
]
